/* Contenedor Principal con Grid */
.album-detail-view {
    background-color: #0f172a;
    color: white;
    padding: 40px;
    min-height: 100vh;
    padding-bottom: 100px; /* Espacio para la barra del reproductor */
}

.album-hero {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 50px;
}

/* Columna Izquierda: Arte y Botones */
.main-cover {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.album-meta h1 {
    font-size: 2.5rem;
    margin: 20px 0 5px 0;
    
}

.album-meta p {
    color: #a6b0be;
    margin-bottom: 30px;
}

.btn-buy {
    width: 100%;
    background-color: #398043; /* Azul Eléctrico */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

.secondary-actions {
    display: flex;
    gap: 10px;
}

.btn-icon {
    flex: 1;
    background-color: #1e293b;
    border: 1px solid #4b4b4b;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* Columna Derecha: Tracklist */
.tracklist-container {
    margin-top: 20px;
    background-color: rgba(44, 45, 46, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.track-header, .track-row {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 80px;
    padding: 12px 20px;
    border-bottom: 1px solid #3c3f42;
    font-size: 0.9rem;
}

.track-header {
    color: #64748b;
    font-weight: bold;
}

.track-row:hover {
    background-color: #334155;
    cursor: pointer;
}

.t-title {
    font-weight: bold;
}
.link{
    text-decoration: none; /* Quita el subrayado */
    color: inherit;        /* Hereda el color blanco/claro que ya tenías */
    display: block; 
}
/* Barra de Reproducción Inferior */
.player-bar {
    position: fixed;
    bottom: 0;
    left: -50px;
    width: 100%;
    height: 8%;
    background-color: #2b3546;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #0f0908;
    z-index: 1;
}

.progress-bar {
    width: 200px;
    height: 4px;
    background-color: #545557;
    margin-top: 10px;
    border-radius: 2px;
    position: relative;
}

.progress-bar::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #3b7040;
}
.volume-slider{
    width: 100px;
    height: 4px;
    background-color: #545557;
    margin-top: 10px;
    border-radius: 2px;
    position: relative;
}

.volume-slider::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 4px;
    background-color: #538358;
}

h4 a{
    color: #2f7445;
    justify-content: space-between;
}
.player-controls{
    justify-items: center;
}