/* 1. Variables Globales */
:root {
    --bg-dark: #398a49d4;
    --bg-card:#1f3d2a;
    --bg-sidebar: #1d311d;
    --accent-blue: #3b82f6;
    --text-main: #f8fafc;
    --text-dim: #0fadb5;
    --card-bg: #4d724fdb;
    --fond-dark: #1e492d;
}

/* 2. Estilos Generales */
body {
    background-image: linear-gradient(to right,var(--fond-dark),var(--bg-dark),var(--fond-dark));
    color: var(--text-main);
    line-height: 1.6;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 3. Header */
.global-header {
    background-color: #213624;
    display: flex;
    justify-content: space-between; /* Reparte los 3 grupos: izquierda, centro y derecha */
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Grupo Izquierda */
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1; 
}

/* El Buscador */
.search-bar input {
    background: #434343;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
    color: rgb(222, 197, 6);
    width: 200px;
}

/* Grupo Centro (Menú) */
.menu-central {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex: 1; 
}

.menu-central a {
    text-decoration: none;
    color: #60b9a0;
    font-weight: 500;
    transition: 0.3s;
}

.menu-central a:hover {
    color: #d6800f;
}

/* Grupo Derecha */
.header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1; 
}

/* 4. Layout Principal */
.app-container {
    display: grid;
    grid-template-columns: 200px 3fr; 
    min-height: 100vh;
}

/* Caja lado izquierda */
.sidebar {
    background-color: var(--bg-sidebar);
    padding: 30px;
    font-family: Georgia, serif;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--text-dim);
    margin-bottom: 20px;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #d9761a;
}

/* 5. Contenido de la Derecha */
.contenido-derecha {
    padding: 30px;
}

.fondo {
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box; /* Evita que el padding ensanche el banner */
    text-align: right;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Assets/icons/fondo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 30px;
}

/* Cuadrícula de Álbumes Responsive */
.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    gap: 20px;
    padding: 20px;
}

/* Diseño de la Tarjeta */
.card {
    background: radial-gradient(var(--card-bg),var(--bg-card));
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    text-align: center;
   text-align: left;
   height: 90%;
}

.card:hover {
    transform: translateY(-8px);
    background-image: linear-gradient(rgb(37, 83, 76), rgb(31, 133, 133));
}

.imagen {
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.precio {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #1c421b;
    border-radius: 6px;
    padding: 5px;
    margin-top: auto;
    display: inline-block;
    align-self: center;
    text-align: center;
    width: 90%;
}
.info h2,p,precio{
    color: #ffffff;
    font-size: 1 rem;
    font-weight: 400;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a{ text-decoration: none;}